input {
  width: 600px;
  height: 80px;
  font-size: 40px;
  text-align: center;
}

#username {
  position: absolute;
  z-index: 1;
  top: 280px;
  left: 300px;
  display: none;
}

#password {
  position: absolute;
  z-index: 1;
  top: 420px;
  left: 300px;
  display: none;
}
